@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 460px;
  width: 630px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 7px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  width: 300px;
  margin-right: 150px;
  text-align: left;
}
